/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "compass/reset";
@import "compass/utilities/general/clearfix";

$clouds: #ecf0f1;
$emerland: #2ecc71;
$midnight-blue: #2c3e50;
$nephritis: #27ae60;
$orange: #f39c12;
$peter-river: #3498db;
$pomegrenade: #c0392b;
$wet-asphalt: #34495e;

$h-min-mini: 460px;
$h-min-small: 769px;
$h-min-medium: 880px;
$h-min-large: 1140px;

* { @include box-sizing(border-box);  }

html { font-size: 62.5%; }

p {
  color: $midnight-blue;
  font-family: "Arial";
  font-size: 1.6rem;
}

body {
  background-color: $clouds;

  > header {
    background-color: $midnight-blue;
    height: 36rem;
    margin-bottom: 15rem;
    overflow: visible;
    
    div {
      background-color: $orange;
      height: 40rem;
      margin: 0 auto;
      position: relative;
      top: 7rem;
      width: 100%;
    }
    
    @media ( min-width: $h-min-small ) { padding: 0 3rem; }
    @media ( min-width: $h-min-large ) {
      div { max-width: 124rem; }
    }
  }
  
  #wrapper {
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    
    #main {
      float: left;
      width: 100%;
      
      .note,
      .story,
      .weekly {
        @include clearfix();
      
        margin: 0 auto 3rem;
        width: 100%;
        
        aside, .main { float: left; }
        
        .main {
          width: 100%;
        }
        
        aside {
          background: $wet-asphalt;
          display: none;
          height: 9rem;
          margin-right: 3rem;
          width: 9rem;
        }
      }
      
      @media ( min-width: $h-min-medium ) {
        width: 82rem;
        
        .note,
        .story,
        .weekly {
          aside { display: block; }
          .main { width: 70rem;}
        }
      }
      
      .note {
        header {
          background-color: $nephritis;
          height: 45rem;
          padding: 1rem;
        }
        
        article {
          padding: 0 1rem;
          width: 100%;
          
          > div {
            background-color: $emerland;
            height: 30rem;
            padding: 1rem;
            width: 100%;
          }
        }
      }
      
      .weekly {
        .main {
          background-color: $peter-river;
          height: 70rem;
          padding: 1rem;
        }
      }
      
      .story {
        background-color: $pomegrenade;
        height: 45rem;
        padding: 1rem;
      }
    }
    
    > aside {
      background: $midnight-blue;
      display: none;
      height: 27rem;
      float: left;
      margin-left: 6rem;
      width: 20rem;
      
      @media ( min-width: $h-min-large ) { display: block; }
    }
    
    @media ( min-width: $h-min-mini ) { padding: 1rem 3rem; }
    @media ( min-width: $h-min-small ) {
      padding: 3rem;
      width: 74rem;
    }
    @media ( min-width: $h-min-medium ) { width: 86rem; }
    @media ( min-width: $h-min-large ) { width: 114rem; }
  }
}
