/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "compass/reset";
@import "compass/utilities/general/clearfix";

$clouds: #ecf0f1;
$emerland: #2ecc71;
$midnight-blue: #2c3e50;
$nephritis: #27ae60;
$peter-river: #3498db;
$pomegrenade: #c0392b;
$wet-asphalt: #34495e;

* { @include box-sizing(border-box);  }

html { font-size: 62.5%; }

p {
  color: $midnight-blue;
  font-family: "Arial";
  font-size: 1.6rem;
}

body {
  background-color: $clouds;

  header {
    div {
      background-color: $midnight-blue;
      height: 18rem;
      width: 100%;
    }
  }
  
  #main {
    padding: 3rem 1rem;
    
    .note,
    .story,
    .weekly {
      @include clearfix();
    
      margin: 0 auto 3rem;
      width: 100%;
      
      aside, .main { float: left; }
      
      .main {
        width: 100%;
      }
      
      aside {
        background: $wet-asphalt;
        display: none;
        height: 9rem;
        margin-right: 3rem;
        width: 9rem;
      }
      
      @media ( min-width: 720px ) { width: 70rem; }
      @media ( min-width: 840px ) {
        aside { display: block; }
        .main { width: 70rem;}
        width: 82rem;
      }
    }
    
    .note {
      header {
        background-color: $nephritis;
        height: 9rem;
        padding: 1rem;
      }
      
      article {
        padding: 0 1rem;
        width: 100%;
        
        > div {
          background-color: $emerland;
          height: 9rem;
          padding: 1rem;
          width: 100%;
        }
      }
    }
    
    .weekly {
      background-color: $peter-river;
      height: 40rem;
      padding: 1rem;
    }
    
    .story {
      background-color: $pomegrenade;
      height: 9rem;
      padding: 1rem;
    }
  }
}
